<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Book Review for {{isbns}}</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    </head>
    <body class="sb-nav-fixed">
        <div id="nav"></div>

        <div id="layoutSidenav">
            <div id="nav-sidebar"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Primary Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Add new review -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Add/Update Review for {{isbns}}
                            </div>
                            <div class="card-body">
                                <table id="tables">
                                    <thead>
                                        <tr>
                                            <th>ISBN</th>
                                            <th>UserID</th>
                                            <th>Date</th>
                                            <th>StarRating</th>
                                            <th>Text</th>
                                            <th>Submit</th>
                                            <th>Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <form>
                                                <td><input id="isbn" name="isbn" type="text" value={{isbns}}></td>
                                                <td><input id="user_id" name="user_id" type="text" Type="text" value=""></td>
                                                <td><input id="date" name="date" Type="date"></td>
                                                <script>
                                                    document.getElementById('date').value = new Date().toISOString().substring(0, 10);
                                                </script>
                                                <td><input id="starrating" name="startating" type="text" list="starratinglist"></td>
                                                <datalist id="starratinglist">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </datalist>
                                                <td><input id="text" name="text" type="text" value=""></td>
                                                <th><input id="submit-review" type="button" class="btn btn-primary" value="Submit" onclick="insertreview()"></th>
                                                <th><input id="update-review" type="button" class="btn btn-primary" value="Update" onclick="updatereview()"></th>
                                                <script>
                                                    function insertreview(){
                                                        var isbn=document.getElementById("isbn").value;
                                                        var user_id=document.getElementById("user_id").value;
                                                        var date=document.getElementById("date").value;
                                                        var starrating=document.getElementById("starrating").value;
                                                        var text=document.getElementById("text").value;
                                                        $.ajax({
                                                            type: 'POST',
                                                            url: '/insertreview/'+isbn+'/'+user_id+'/'+date+'/'+starrating+'/'+text,
                                                            success: function (res) {
                                                                console.log(res.response)
                                                                location.reload();
                                                            },
                                                            error: function () {
                                                                console.log('Error');
                                                            }
                                                        });
                                                    }

                                                    function updatereview(){
                                                        var isbn=document.getElementById("isbn").value;
                                                        var user_id=document.getElementById("user_id").value;
                                                        var date=document.getElementById("date").value;
                                                        var starrating=document.getElementById("starrating").value;
                                                        var text=document.getElementById("text").value;
                                                        $.ajax({
                                                            type: 'POST',
                                                            url: '/editreview/'+isbn+'/'+user_id+'/'+date+'/'+starrating+'/'+text,
                                                            success: function (res) {
                                                                console.log(res.response)
                                                                location.reload();
                                                            },
                                                            error: function () {
                                                                console.log('Error');
                                                            }
                                                        });
                                                    }
                                                </script>
                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                                            </form>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                {{isbns}} Reviews 
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ISBN</th>
                                            <th>UserID</th>
                                            <th>Date</th>
                                            <th>StarRating</th>
                                            <th>Text</th>
                                            <th>Edit</th>
                                            <th>Delet</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ISBN</th>
                                            <th>UserId</th>
                                            <th>Date</th>
                                            <th>StarRating</th>
                                            <th>Text</th>
                                            <th>Edit</th>
                                            <th>Delet</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for review in reviews %}
                                        <tr>
                                            <td>{{ review.ISBN }}</td>
                                            <td>{{ review.UserID }}</td>
                                            <td>{{ review.Date }}</td>
                                            <td>{{ review.StarRating }}</td>
                                            <td>{{ review.Text }}</td>
                                            <th><button type="button" data-isbn="{{review.ISBN}}" data-userid="{{review.UserID}}" data-date="{{review.Date}}" data-starrating="{{review.StarRating}}" data-text="{{review.Text}}" class="btn btn-primary editreview">Edit</button></th>
                                            <th>
                                                <button name="btnDelete" data-isbn="{{review.ISBN}}" data-userid="{{review.UserID}}" class="btn btn-primary remove deletereview" type="button">Delete</button>
                                            </th>
                                        </tr>
                                        {% endfor %}
                                        <script>
                                            $(document).ready(function () {
                                                $('.deletereview').click(function deletereview(){
                                                    var deletereview = $(this);
                                                    var isbn=deletereview.data('isbn');
                                                    var user_id=deletereview.data('userid');
                                                    alert("The review of UserID= "+user_id+" for the book isbn = "+isbn+" will be deleted!");
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/deletereview/'+isbn+'/'+user_id,
                                                        success: function (res) {
                                                            console.log(res.response)
                                                            location.reload();
                                                        },
                                                        error: function () {
                                                            console.log('Error');
                                                        }
                                                    });
                                                });

                                                $('.editreview').click(function editreview(){
                                                    var editreview = $(this);
                                                    var isbn=editreview.data('isbn');
                                                    var user_id=editreview.data('userid');
                                                    var date=editreview.data('date');
                                                    var starrating=editreview.data('starrating');
                                                    var text=editreview.data('text');
                                                    
                                                    document.getElementById('user_id').value = user_id;
                                                    document.getElementById('date').value = date;
                                                    document.getElementById('starrating').value = starrating;
                                                    document.getElementById('text').value = text;
                                                    alert("Please use above form to update review, then click Update");
                                                });
                                                
                                            });
                                        </script>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    </body>
</html>
